/* body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}
h1{
  text-align: center;;
}
#canvas{
border:1px solid black;
border-radius:1%;
} */

body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #101010;
  color: #aaa;
  font-family:sans-serif;
}

.content{
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
#canvas{
  border: 1px solid black;
}

.links{
  display: flex;
  justify-content: space-between;
}

.link-primary{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
}

.link-primary:hover{
  border: 2px solid white;
  border-radius: 1%
}

/* Button Styles -- DOn't ask why I needed so many */
button{
  border-radius: 3px;
}

.buttons{
  display:flex;
  justify-content: space-around;
}
.btn{
  width:40px;
  height:40px;
  margin: 5px;
  border:none;
}

.btn-start, .btn-start:hover{
  height:50px;
  margin: 20px;
  border:none;
  font-size:25px;
  background-color:white;
}

#red{
  background-color:#f97c7c;
}
#green{
  background-color:green;
}
#blue{
  background-color:#1aa7ec;
}
#purple{
  background-color:#ff00ee;
}
#yellow{
  background-color:yellow;
}
